.marker-cluster-small {
  background-color: rgba(69, 117, 180, 0.3);
}

.marker-cluster-small div {
  background-color: rgba(69, 117, 180, 0.6);
}

.marker-cluster-medium {
  background-color: rgba(116, 173, 209, 0.3);
}

.marker-cluster-medium div {
  background-color: rgba(116, 173, 209, 0.6);
}

.marker-cluster-large {
  background-color: rgba(253, 174, 97, 0.3);
}

.marker-cluster-large div {
  background-color: rgba(253, 174, 97, 0.6);
}

.marker-cluster-extra-large {
  background-color: rgba(215, 25, 28, 0.3);
}

.marker-cluster-extra-large div {
  background-color: rgba(215, 25, 28, 0.6);
}

  /* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
  background-color: rgb(69, 117, 180);
}

.leaflet-oldie .marker-cluster-small div {
  background-color: rgb(49, 54, 149);
}

.leaflet-oldie .marker-cluster-medium {
  background-color: rgb(116, 173, 209);
}

.leaflet-oldie .marker-cluster-medium div {
  background-color: rgb(69, 117, 180);
}

.leaflet-oldie .marker-cluster-large {
  background-color: rgb(253, 174, 97);
}

.leaflet-oldie .marker-cluster-large div {
  background-color: rgb(253, 174, 97);
}

.leaflet-oldie .marker-cluster-extra-large {
  background-color: rgb(215, 25, 28);
}

.leaflet-oldie .marker-cluster-extra-large div {
  background-color: rgb(215, 25, 28);
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 25px;
}

.marker-cluster div {
  text-align: center;
  border-radius: 20px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.marker-cluster div.small {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
}

.marker-cluster div.medium {
  width: 35px;
  height: 35px;
  margin-left: 5px;
  margin-top: 5px;
}

.marker-cluster div.large {
  width: 45px;
  height: 45px;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 25px;
}

.marker-cluster div.small span {
  line-height: 30px;
}

.marker-cluster div.medium span {
  line-height: 35px;
}

.marker-cluster div.large span {
  line-height: 45px;
  color: white;
}

.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
  -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
  transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}
